asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
cloudpickle @ file:///C:/miniconda3/conda-bld/cloudpickle_1764930583045/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119281973/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643940481/work
cycler @ file:///C:/Users/task_176606794865467/croot/cycler_1766068048113/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421658007/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249916/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061255268/work
filelock @ file:///C:/miniconda3/conda-bld/filelock_1762419942375/work
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1765445219380/work
fsspec @ file:///C:/miniconda3/conda-bld/fsspec_1762432453760/work
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748102257/work
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946092426/work
ipyparallel @ file:///C:/miniconda3/conda-bld/ipyparallel_1761560341631/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1762789322374/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jupyter_client @ file:///C:/miniconda3/conda-bld/jupyter_client_1762943100578/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588349507/work
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159357446/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.8
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779276169/work
mpmath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mpmath_1729048934933/work
nest_asyncio @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nest-asyncio_1729042999160/work
networkx @ file:///C:/miniconda3/conda-bld/networkx_1765378660985/work
nlopt==2.10.0
numpy @ file:///D:/bld/bld/rattler-build_numpy_1766373836/work/dist/numpy-2.4.0-cp313-cp313-win_amd64.whl#sha256=9cd3712bb8574a7591aacf6dcf577cc72032d62d00f60c34f2a335ae9275784a
optree @ file:///C:/miniconda3/conda-bld/optree_1765445117785/work
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049099114/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781952168/work
pillow @ file:///C:/miniconda3/conda-bld/pillow_1762528255883/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356623609/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745018781/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896538278/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067099531/work
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///D:/bld/bld/rattler-build_pybind11-global_1755953378/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431428918/work
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763974011379/work
PySide6==6.9.2
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609051/work
scipy @ file:///C:/bld/scipy-split_1766107261446/work/dist/scipy-1.16.3-cp313-cp313-win_amd64.whl#sha256=17e8cea960f402fd203fec4d475c1126b9afeefbd3ec0b986df3ca9b25361c9e
setuptools==80.9.0
shiboken6==6.9.2
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051197/work
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762977627/work
torch @ file:///C:/bld/libtorch_1764705344950/work
tornado @ file:///C:/Users/task_176599271153901/croot/tornado_1765992818411/work
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863407729/work
traitlets @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/traitlets_1729038154689/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
wheel==0.45.1
